:root {
    --pink: #EFEBF2;
    --purple: #30105A;
    --btnPink: #E3BAC6;
    --grey: grey;
}

body {
    background-color: var(--pink);
}

nav {
    background-color: var(--btnPink);
    color: white;
}

nav h4 {
    margin-left: 20px;
}

.hero-text {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

.card-title {
    text-align: center;
    margin: -30px 30% 0 30%;
    padding: 5px 10px;
    background-color: var(--purple);
    color: white;
    border-radius: 20px;
}

.card {
    background-color: var(--pink);
    border: 1px solid var(--btnPink);
}

.link {
    margin-top: 40px;
    color: var(--btnPink);
}

.link:hover {
    color: var(--purple);
}

.shoppingList {
    background-color: var(--btnPink);
    padding: 5px;
}


.weatherTitle {
    background-color: var(--purple);
    color: white;
    width: 100%;
    padding: 5px;
}

#weather p {
    text-align: left;
    margin: 0 30px 20px 30px;
}

.mainCard {
    background-color: transparent;
    border: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.foodTitle {
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}

#food {
    text-align: center;
}

.foodImg, 
.pizzaImage {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    padding: 10px;
    width: 70%;
}

#food a {
    display: block;
}

.food-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#list {
    text-align: left;
    margin-left: 40px;
}

.carousel {
    text-align: center;
}

.carousel-caption {
    margin: auto 15px;
    padding: 10px 20px;
    border: 1px solid var(--btnPink);
    background-color: rgba(227, 186, 198, 0.8);
}

.carousel-img {
    margin-top: 20px;
    object-fit: cover;
    object-position: center;
    height: 100vh;
    overflow: hidden;
}

.footer {
    text-align: center;
    padding: 8px;
    font-weight: 500;
    background-color: var(--btnPink);
}

footer a {
    color: white;
}

.footerText {
    margin-bottom: 5px;
}